@use "globals";
/* Styles Aside Menue */

/* Desktop View */
.aside-container {
  width: 50vw;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(56, 56, 56, 0.5);
  z-index: 10;
  background-color: #fff;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 500ms ease;
}

.aside-menue {
  text-align: left;
  height: 70%;
  width: 100%;
  padding: 3rem;
  padding-left: 10rem;
  display: flex;
  flex-direction: column;
  color: globals.$clr-fnt-headings;

  .aside-menue-section {
    margin-top: 5rem;
    flex: 1;
  }

  h4 {
    font-size: 3rem;
    color: globals.$clr-fnt-common;
  }

  ul,
  li,
  a {
    text-decoration: none;
    list-style: none;
    font-size: 2rem;

    color: globals.$clr-fnt-common;
    cursor: pointer;
    transition: background-color 350ms ease;
    width: 100%;
  }

  li a {
    display: inline-block;
    padding: 1rem 0rem;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin: 2rem 0rem;
  }

  li:hover,
  :active,
  :focus {
    background-color: #dbdbdb;
  }
}

.open {
  transform: translateX(0);
  opacity: 1;
}

.open-l1 {
  transform-origin: center;
  transform: rotate(45deg) translateX(10px);
  transition: transform 500ms ease;
}

.open-l2 {
  opacity: 0;
  transition: transform 500ms ease;
}

.open-l3 {
  transform-origin: center;
  transform: rotate(-45deg) translateX(10px);
  transition: transform 500ms ease;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .aside-container {
    width: 100vw;
  }
}
