@use "globals";
/* Styles for customer data section */

/* Desktop View */
.my-data-container {
  border: 2px solid lightgray;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 2rem;
  min-width: max-content;
  max-width: 100%;
  height: 90%;
  flex: 1 1 auto;
}

.my-data-container h4 {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: globals.$clr-fnt-common;
}

.my-data-container h5 {
  font-size: 1.5rem;
  padding: 0.5rem 0rem;
  color: globals.$clr-fnt-common;
}

.my-data-container p,
#my-data-postal {
  font-size: 1.3rem;
  color: globals.$clr-fnt-common;
}

.my-data-group {
  padding-bottom: 1rem;
  margin: 1.5rem 0rem;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .my-data-container {
    margin-bottom: 2rem;
    padding: 1rem;
    height: max-content;
    resize: none;
  }

  .my-data-container {
    height: max-content;
  }

  .my-data-group {
    margin: 0.3rem 0rem;
    padding-bottom: 0.2rem;
  }

  .my-data-group h5 {
    padding-bottom: 0.2rem;
  }
}
