@use "globals";

/* Import partials */
@import "header";
@import "dashboard";
@import "aside";

/* General Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: globals.$ff-common;
}

#root {
  position: relative;
  overflow: hidden;
}

/* Styles Footer */
footer {
  position: fixed;
  bottom: 0;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

footer p {
  font-size: 8px;
  padding: 1rem 0rem;
}
