@use "globals";

/* Import partials */
@import "header";
@import "dashboard";
@import "aside";
@import "item-container";

/* General Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: globals.$ff-common;
  color: globals.$clr-fnt-common;
}

#root {
  position: relative;
  overflow: hidden;
}

.error-container div {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  h3 {
    font-size: 2rem;
    color: rgb(86, 86, 86);
    padding: 2rem;
  }
  img {
    width: 15rem;
    margin: 1rem;
  }
  & > p {
    font-size: 1.5rem;
    margin: 0.3rem 0rem;
  }
}

/* Styles Footer */
footer {
  position: fixed;
  bottom: 0;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

footer p {
  font-size: 8px;
  padding: 1rem 0rem;
}
